* {
  font-family: 'Kantumruy Pro', sans-serif;
}
/* 
.heavy {
  font-weight: 800;
} */

.rando-container {
  
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

.small-container {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.active {
  text-decoration: underline;
}